<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionarios</title>
</head>
<body>
    <h1>Funcionarios</h1>

    <table>
        <tr th:each="funcionario : ${funcionarios}">
            <td th:text="${funcionario?.codigo}"></td>
            <td th:text="${funcionario?.nome}"></td>
            <td th:text="${funcionario?.salario}"></td>
            <td th:text="${funcionario?.idade}"></td>
            <td th:text="${funcionario?.cpf}"></td>            
        </tr>
    </table>
</body>
</html>